<!-- TODO: make the footer a 3 column responsive layout -->
<footer class="bg-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>About</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-links">Learn More</a></li>
          <li><a href="#" class="footer-links">People</a></li>
          <li><a href="#" class="footer-links">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Resources</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-links">Docs</a></li>
          <li><a href="#" class="footer-links">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Contact</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-links">Help</a></li>
          <li><a href="#" class="footer-links">Sales</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
