<!-- TODO center text horizontally and vertically and style color white -->
<section class="hero-section">
    <div class="banner-title">
        <h1>LandGate Test</h1>
    </div>
</section>

<div class="container">
  <section class="about-section bg-light text-center mt-5">
    <div class="container">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet eros vitae libero bibendum pharetra. Nullam auctor et odio in aliquet. Nam varius fermentum arcu, euismod tristique enim. Aliquam accumsan erat nec semper elementum.</p>
    </div>
  </section>

  <section class="services-section mt-5">
    <div class="container">
      <h2 class="text-center">Our Services</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Service 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4">
          <h3>Service 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4">
          <h3>Service 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="products-section bg-light mt-5">
    <div class="container">
      <h2 class="text-center">Our Products</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Product 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4">
          <h3>Product 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-4">
          <h3>Product 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="advert-section  mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Advertisements</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet eros vitae libero bibendum pharetra.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-section bg-light mt-5">
    <div class="container">
      <h2 class="text-center">Contact Us</h2>
    </div>
  </section>
</div>
