<!-- <p>People Component</p>
TODO: Show all people on this screen
  TODO Implement a person-component that displays the details of a person.
Add a way to select and then edit a individual person.  There should be options to save and cancel the edit.  Cancelling an edit will result in no changes being made to the selected person. -->
<ng-container *ngIf="{
  people: people$ | async,
  loaded: isLoaded$ | async,
  error: error$ | async
} as state">
  <ng-container *ngIf="state.loaded else loaderTpl">
    <ng-container *ngIf="!state.error else errorTpl">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="container mt-4">
          <table class="table table-bordered table-striped">
            <thead class="bg-dark text-white">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Job Title</th>
              <th></th>
            </thead>
            <tbody>
              <ng-container *ngFor="let person of state.people" >
                <tr class="table-row__clickable" >
                  <ng-container *ngIf="(editableRowId === person.id) else defaultRowTemplate">
                    <td><input type="text" formControlName="firstName"></td>
                    <td><input type="text" formControlName="lastName"></td>
                    <td><input type="number" formControlName="age"></td>
                    <td><input type="text" formControlName="jobTitle"></td>
                  </ng-container>
                  <ng-template #defaultRowTemplate>
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.jobTitle}}</td>
                  </ng-template>
                  <td>
                    <ng-container *ngIf="!editableRowId">

                      <button type="button" class="btn btn-primary mr-2" [routerLink]="person.id">View Details</button>
                      <button type="button" class="btn btn-primary mr-2" (click)="onEdit(person, $event)">Edit</button>
                      <button type="button" class="btn btn-danger" (click)="onDelete(person.id, $event)">Delete</button>
                    </ng-container>
                    <ng-container *ngIf="editableRowId">
                      <button type="submit" class="btn btn-primary mr-2">Save</button>
                      <button type="button" class="btn btn-danger" (click)="onCancel($event)">Cancel</button>
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </form>
    </ng-container>
  </ng-container>

  <ng-template #errorTpl>
    <div class="container loader-container">
      <div>{{state.error}}</div>
    </div>
  </ng-template>
</ng-container>

<ng-template #loaderTpl>
  <div class="container loader-container">
    <div class="spin"></div>
  </div>
</ng-template>
